<div class="container">
    <div class="medium-12 columns">
        <h4>Boite messages</h4>
        <div class="d-flex align-items-end justify-content-end small">
            <a href="/manager" class="btn btn-primary">Accueil</a>
        </div>
        <hr>
        <table class="stack">
            <thead>
                <tr>
                    <th width="200">id</th>
                    <th width="200">Name</th>
                    <th width="200">Email</th>
                    <th width="200">Message</th>
                    <th width="200">Action</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let contact  of contacts">
                      <th scope="row">{{contact.id}}</th>
                        <td>{{contact.name}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.message}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="delete(contact.id)">Supprimer</button>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>


