<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>W3.CSS Template</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        .label{
            font-family: "Open Sans", Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1.125rem; font-weight: 500;
            color: #351a09;
        }
        .button{
            margin: 5px 205px ; background-color: #5A3520; color:white; border-radius: 12px; padding: 15px 29px; font-size: 16px;
        }
        .button3:hover{
            background-color: #351A09;
            color:white;
        }
    </style>
    </head>
    <body class="w3-white">
<div class="d-flex align-content-between justify-content-between" style="position: fixed;">
    <div style="background-color: #F9E5CD; padding-right: 100px;">
        <h1 style="color: #351A09; text-align: center; padding: 20px; padding-left: 45px; padding-top: 200px;">Réservez votre chambre d'hôtel dès maintenant !</h1>
        <p style="color: gray; text-align: center; padding-left: 45px;">Remplissez simplement ce formulaire pour effectuer votre réservation</p>
        <button href="/page2" class="button button3" (click)="navigateToPage2()">Demande de réservation</button>
    </div>
    <div>
        <img src="../assets/luna/reserver.jpeg" alt="" width="550px" height="642px">
    </div>
</div>

</body>
</html>