<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>W3.CSS Template</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="w3-white">
        <!-- Navigation Bar -->
        <div class="navbar-container d-flex justify-content-center">
            <div class="logo d-flex">
                <img src="../assets/imag/Del_Luna_Hotel.png" alt="" width="200px" height="60px">
            </div>
            <div class="links d-flex">
                <a href="/rooms" class="w3-bar-item w3-button w3-mobile">Chambres</a>
                <a href="#about" class="w3-bar-item w3-button w3-mobile">About</a>
                <a href="/services" class="w3-bar-item w3-button w3-mobile">Services</a>
                <a href="/plans" class="w3-bar-item w3-button w3-mobile">Bons Plans</a>
                <a href="/contact/client" class="w3-bar-item w3-button w3-mobile">Contact</a>
            </div>
                <a href="/create-r" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Réserver</a>
            
        </div>
        <div class="service">
            <div class="container-fluid blocks first-block transition">
                <div class="row">
                    <div class="col bg-trans bg-trans-left text-center">
                        
                        <h2 style="color: #cc9900;">Situation</h2>
                        <img src="../assets/luna/stars1.webp" alt="" width="20%">
                        <p style="color: #4c4c4c;">
                            Bienvenue à l'Hôtel Del Luna, votre oasis de tranquillité, de style et de confort. Idéalement situé dans des destinations prisées à travers le monde, notre établissement vous offre une atmosphère chic et relaxante, à proximité des boutiques, des attractions touristiques et des transports en commun. Découvrez le luxe à chaque instant, où que vous soyez, avec Hôtel Del Luna.</p>
                    </div>
                    <div class="col hidden-xs"></div>
                </div>
            </div>
            <div class="container-fluid blocks second-block transition animated" style="background-image: url('../assets/luna/inside2.jpg');">
                <div class="row">
                    <div class="col bg-trans bg-trans-right text-center">
                        
                        <h2 style="color: #d69c09;">Services</h2>
                        <img src="../assets/luna/stars1.webp" alt="" width="20%">

                        <div class="row details">
                            <ul>
                            <li><a href="#"><strong>Buffet petit déjeuner</strong></a></li>
                            <li><a href="#"><strong>Wifi gratuit dans tout l'hôtel</strong></a></li>
                            <li><a href="#"><strong>Chambres aménagées pour personnes à mobilité réduite</strong></a></li>
                            <li><a href="#"><strong>Transfert Aéroport Hotel</strong></a></li>
                            <li><a href="#"><strong>Service de blanchisserie</strong></a></li>
                            <li>Ascenseur</li>
                            <li>Climatisation</li>
                            <li>Consigne à bagages</li>
                            <li>Journaux</li>
                            <li>Coffre-fort</li>
                            <li>Nettoyage à sec</li>
                            <li>Non-fumeur</li>
                        </ul>
                    </div>
                    </div>
                    <div class="col hidden-xs"></div>
                </div>
            </div>
            <div class="container-fluid blocks third-block transition">
                <div class="row">
                    <div class="col bg-trans bg-trans-left text-center">
                        
                        <h2 style="color: #d69c09;">Réception</h2>
                        <img src="../assets/luna/stars1.webp" alt="" width="20%">

                        <p style="color: #4c4c4c;">L'équipe de la réception est à votre disposition 24h/7.</p>
                    </div>
                    <div class="col hidden-xs"></div>
                </div>
            </div>
        </div>
        
    </body>
</html>