<div class="row">
    <div class="medium-offset-4 medium-11 columns">
        <h4>Modification</h4>
        <div class="mt-4">
            <div *ngIf="successMessage" class="alert alert-success">
                <h3>{{ successMessage }}</h3>
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger">
                <ul>
                    <li>{{ errorMessage }}</li>
                </ul>
            </div>
            <form (ngSubmit)="update(id)" #form="ngForm">
                <input type="hidden" name="_method" value="put">
                <hr>
                <div class="medium-4 columns">
                    <label class="label info">Numéro: </label>
                    <input name="numC" type="text" [(ngModel)]="numC">
                </div>

                <div class="medium-4 columns">
                    <label class="label info">Nombre Lits: </label>
                    <input name="nbrLits" type="text" [(ngModel)]="nbrLits">
                </div>

                <div class="medium-4 columns">
                    <label class="label info">Prix: </label>
                    <input name="prixC" type="text" [(ngModel)]="prixC">
                </div>

                <div class="medium-4 columns">
                    <label class="label info">Etage: </label>
                    <input name="etage" type="text" [(ngModel)]="etage">
                </div>

                <div class="medium-4 columns">
                    <label class="label info">Type de chambre: </label>
                    <select class="form-control" [(ngModel)]="type_chambre_id" name="type_chambre_id">
                        <option value="">Selectionne un type</option>
                        <option *ngFor="let type of typeChambre" [value]="type.id">{{ type.typeC }}</option>                    
                    </select>
                </div>


                <div class="medium-4 columns">
                    <label class="label info">Status: </label>
                    <input name="status" type="text" [(ngModel)]="status">
                </div>
                
    <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">Enregistrer</button>
    <a href="/chambres" class="btn btn-danger">Annuler</a>
            </form>
        </div>
    </div>
</div>