<div class="container">
    <div class="medium-12 columns">
        <h4>Chambres</h4>
        <div class="d-flex align-items-center justify-content-between small">
            <a href="/create-c" class="btn btn-primary">Ajouter chambre</a>
            <a href="/manager" class="btn btn-primary">Accueil</a>
        </div>
        <hr>
        <table class="stack">
            <thead>
            </thead>
            <tbody>
                    <tr *ngFor="let chambre  of chambres">
                        <img src="{{chambre.image}}" alt="{{chambre.numC}}" class="img-fluid" width="200px" height="200px">
                        <th scope="row"><strong><p> Numéro: {{chambre.numC}} </p></strong><br>
                            <small>id Chambre: {{chambre.id}}</small> <br>
                            <small>Nombre de lit(s): {{chambre.nbrLits}}</small>  <br>
                            <small>Type chambre: 
                            <ng-container *ngFor="let type of typeChambre">
                                <ng-container *ngIf="type.id === chambre.type_chambre_id">{{ type.typeC }}</ng-container>
                            </ng-container> </small>
                            <br>
                            <small>Prix: {{chambre.prixC}} </small> <br>
                            <small>Etage: {{chambre.etage}}</small> <br>
                            <small>Status: {{chambre.status}}</small>  <br>
                        
                            <a href="/edit-c/{{chambre.id}}" class="btn btn-primary">Modifier</a>
                            <button class="btn btn-danger" (click)="delete(chambre.id)">Supprimer</button>
                        </th>
                    </tr>
            </tbody>
        </table>
    </div>
</div>


