<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
      
  </head>
  <body class="w3-white">
      <div class="navbar-container d-flex justify-content-center">
          <div class="logo d-flex">
              <img src="../assets/imag/Del_Luna_Hotel.png" alt="" width="200px" height="60px">
          </div>
          <div class="links d-flex">
              <a href="/rooms" class="w3-bar-item w3-button w3-mobile">Chambres</a>
              <a href="#about" class="w3-bar-item w3-button w3-mobile">About</a>
              <a href="/services" class="w3-bar-item w3-button w3-mobile">Services</a>
              <a href="/plans" class="w3-bar-item w3-button w3-mobile">Bons Plans</a>
              <a href="/contact/client" class="w3-bar-item w3-button w3-mobile">Contact</a>
          </div>
              <a href="/createReserv" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Réserver</a>
          
      </div>
      <div class="containers-fluid chambre" >
        <div class="containers">
          <div class="row">
            <div class="col-xs-12">
            <div class="list-unstyled list-inline breadcrumb">
              <div>
                <a href="/rooms" style="background-color: transparent; color: #c90; margin: 30px; font-size: 24px;">Chambre</a>
              <a style="color: #c90; margin: 30px; font-size: 24px;">»  </a>
                <a style="font-size: medium;">Single</a>
              </div>
            </div></div>
          </div>
        </div>
      </div>
      
      <div class="container">
        <h1 class="header w3-center" style="color: #cc9900; background-image: url(../assets/luna/stars.png); background-repeat: no-repeat; background-position: 50% 100%; background-size: initial; background-attachment: scroll; padding-bottom: 40px;">Chambre Simple</h1>
        <!-- text-decoration: underline; text-underline-position: under; -->
        <div class="row">
          <div class="block w3-center">
            <div class="slideshow-container">
              <div *ngFor="let slide of slides" class="mySlides">
                  <picture>
                      <!-- <source [srcset]="slide.webpSrcset" type="image/webp">
                      <source [srcset]="slide.jpegSrcset" type="image/jpeg"> -->
                      <img [src]="slide.url" [alt]="slide.alt" style="width: 940px; height: 460px;">
                  </picture>
              </div>
          </div>
            <p class="text-left" style="margin-left: 185px; margin-right: 180px;">La simple Eco est une bien coquette chambre single, non fumeurs de 9 m². Décorée dans des tons chauds et calmes, une douce ambiance chaleureuse et conviviale y règne. Pratique, elle est dotée de tout le confort nécessaire pour passer un agréable séjour d’affaires ou de tourisme au Maroc: Un téléphone, un joli placard pour y déposer vos affaires, un coffre-fort pour y déposer argent et objets précieux, une connexion internet sans fil, une salle de bain attenante à la chambre où vous trouverez tout ce dont vous avez besoin comme produits de base.</p>
          </div>
        </div>
        <h1 class="header w3-center" style="color: #cc9900; background-image: url(../assets/luna/stars.png); background-repeat: no-repeat; background-position: 50% 100%; background-size: initial; background-attachment: scroll; padding-bottom: 40px;">Services disponibles pendant votre séjour</h1>

        <div style="margin-left: 250px;">
          <li>Téléphone</li>
          <li>Climatisation</li>
          <li>Accès Internet sécurisé et gratui</li>
          <li>Chaufage</li>
          <li>Salle de bains attenante avec douche</li>
          <li>Produits de base</li>
          <li>Horloge avec fonction de réveil</li>
          <li>Placard</li>
          <li>Cintres</li>
          <li>Coffre-fort</li>
        </div>
      </div>
  </body>
</html>