<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>W3.CSS Template</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}

        .mySlides {display:none;}
        img {
            width: 100px; 
            height: auto;
            margin: 0 auto; 
        }
        </style>
                    
    </head>
    <body class="w3-white">
    <!-- Navigation Bar -->
    <div class="navbar-container d-flex justify-content-center">
        <div class="logo d-flex">
            <img src="../assets/imag/Del_Luna_Hotel.png" alt="" width="200px" height="60px">
        </div>
        <div class="links d-flex">
            <a href="/rooms" class="w3-bar-item w3-button w3-mobile">Chambres</a>
            <a href="#about" class="w3-bar-item w3-button w3-mobile">About</a>
            <a href="/services" class="w3-bar-item w3-button w3-mobile">Services</a>
            <a href="/contact/client" class="w3-bar-item w3-button w3-mobile">Contact</a>
        </div>
            <a href="/create-r" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Réserver</a>
        
    </div><div class="row">
    <div class="mt-4">
        <div *ngIf="successMessage" class="alert alert-success">
            <h3>{{ successMessage }}</h3>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
            <ul>
                <li>{{ errorMessage }}</li>
            </ul>
        </div>
        <form method="post" action="/chambres">
            <input type="hidden" name="_method" value="put">
            <hr>
            <!-- <img src="../assets/luna/star0.avif" width="10px"> -->
              <h1 class="heading-text text-center" style="background-image: url(../assets/luna/star0.avif); background-size: 60px; background-position: 9% 0 ; background-repeat: no-repeat;">Contactez nous</h1>
            <div>
                <label for="name">Votre nom: </label><br>
                <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Nom complet">
            </div>
            <br>
            <div>
                <label for="email">Votre email: </label><br>
                <input type="text" id="email" name="email" [(ngModel)]="email" placeholder="exemple@gmail.com">
            </div>
            <br>
            <div> 
                <label>Message:</label><br /><br>
                <textarea name="message" id="" cols="30" rows="10" [(ngModel)]="message" placeholder="Je vous  contacte pour..."></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" (click)="create()">Envoyer message</button>
        </form>
    </div>
</div>
<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
    <div class="row align-content-between justify-content-between">
        <div class="block" style="font-style: normal; font-family: 'Times New Roman', Times, serif;">
            <h3>A propos de nous</h3>
            <p>Hôtel Del Luna est un hôtel 5 étoiles, situé au Maroc, à la ville de fes</p>
        </div>
        <div><h5>Find Us On</h5>
        <div class="w3-xlarge w3-padding-16">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div></div>
        <div>
            <h5>Contactez-nous</h5>
            <p><i class="fa fa-map-marker">hote32 57 rte ain chkaf, FES - Maroc</i></p>
            <p><i class="fa fa-phone"></i> Phone: +212 6555555</p>
            <p><i class="fa fa-envelope"></i>Email: hotel.DelLuna&#64;gmail.com</p>
        </div>
    </div>
    <p>Powered by <a href="hajz" target="_blank" class="w3-hover-text-green">HAJZ.com</a></p>
    </footer>

</body>

</html>