<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>W3.CSS Template</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .underline {
  background-repeat: no-repeat;
}

.underline--stars {
  background-image: url("../assets/luna/stars4.png");
  background-position: 130px 70px;
  background-size: 30%;
  color: #f2f3f8;
}

        </style>
    </head>
    <body class="w3-white">
        <!-- Navigation Bar -->
        <div class="navbar-container d-flex justify-content-center">
            <div class="logo d-flex">
                <img src="../assets/imag/Del_Luna_Hotel.png" alt="" width="200px" height="60px">
            </div>
            <div class="links d-flex">
                <a href="/rooms" class="w3-bar-item w3-button w3-mobile">Chambres</a>
                <a href="#about" class="w3-bar-item w3-button w3-mobile">About</a>
                <a href="/services" class="w3-bar-item w3-button w3-mobile">Services</a>
                <a href="/plans" class="w3-bar-item w3-button w3-mobile">Bons Plans</a>
                <a href="/contact/client" class="w3-bar-item w3-button w3-mobile">Contact</a>
            </div>
                <a href="/createReserv" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Réserver</a>
            
        </div>
        <div class="plans" style="background-image: url(../assets/images/slider-7.jpg); background-repeat: no-repeat; background-size: cover;">
            <div class="container-fluid blocks  transition">
                <div class="row">
                    <div class="col bg-trans bg-trans-left text-center">
                        <h1 style="color: #cc9900; font-size: 2cm; font-weight: bold;" class="underline underline--stars">Bons Plans</h1><br><br>
                        <!-- <h1 style="color: #cc9900; text-decoration: underline; text-underline-position: under; background-image: url(../assets/luna/stars1.webp); background-size: 20%; background-repeat: no-repeat;">Bons Plans</h1> -->
                        <h2 style="color: #cc9900;">Offre spéciale "Réservation anticipée"</h2>
                        <p style="color: #4c4c4c;">Réservez votre séjour à l'avance et bénéficiez d'une réduction de 15 % sur le tarif standard.
                            Valable pour les réservations effectuées au moins 30 jours avant la date d'arrivée.</p>
                        
                        <h2 style="color: #cc9900;">Escapade, 6% de réduction + Petit déjeuner inclus</h2>
                        <p style="color: #4c4c4c;">Réservez l'offre "Escapade, petit déjeuner inclus" pour économiser 6% sur votre réservation et avoir le petit-déjeuner offert pendant votre séjour, pour une ou deux personnes.</p>
                        
                        <h2 style="color: #cc9900;">Non-remboursable, 14% de réduction</h2>
                        <p style="color: #4c4c4c;">Réservez votre séjour par avance, et économisez 14% sur votre réservation.</p>
                    </div>
                    <div class="col hidden-xs"></div>
                </div>
            </div>
            
        </div>
        
    </body>
</html>